apiVersion: v1
kind: Secret
metadata:
  name: taskflow-secret
type: Opaque
stringData:
  MONGO_USERNAME: "REEMPLAZAR_LOCALMENTE"
  MONGO_PASSWORD: "REEMPLAZAR_LOCALMENTE"
  JWT_SECRET: "REEMPLAZAR_LOCALMENTE"
